@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  /* Prevent scrolling */
  overflow: hidden;
}

/* UI cleanup */
.vjs-fullscreen-control,
.vjs-control-bar {
  display: none !important;
}